.element2-para1 {
  width: 300px;
  height: 300px;
  outline: 1px solid white;
  background: url("./img---image-1.jpg") center center / cover no-repeat;
}

.element2-logo {
  width: 100px;
  height: 100px;
}

.element2-para2 {
  outline: 1px solid white;
}